canvas {
    float: left;
    outline: solid thin darkgray;
    cursor: crosshair;
    background: #eee;
}

.control-panel {
    float: left;
    margin-left: 10px;
    padding: 10px;
    display: inline-block;
    background-color: #cce;
}
