body {
  background: #eef;
}

header {
  display: inline-block;
  color: #333;
  margin-bottom: 0.3em;
  font-family: sans-serif;
}

h1 {
  font-size: 1.5em;
  margin-bottom: 0.2em;
}

h2 {
  margin-top: 0;
  padding-left: 0.5em;
  font-size: 0.9em;
}

h2 a {
  color: #33a;
}

canvas {
    float: left;
    outline: solid thin darkgray;
    cursor: crosshair;
    background: #eee;
}

.sidebar {
    display: inline-block;
    float: left;
    margin-left: 10px;
}

.control-panel {
    padding: 10px;
    background-color: #cce;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.control-panel h1 {
    width: 100%;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: white;
    text-align: center;
    font-weight: normal;
    font-size: 12px;
}

.image-link {
    clear: both;
    padding-top: 10px;
}

input:invalid {
    border-color: red;
}
